*.tst
*.out
*.cmp
*.hack
*.vm
*.pdf

tools/
__pycache__/

projects/06/add/*.asm
projects/06/max/*.asm
projects/06/rect/*.asm
projects/06/pong/*.asm

projects/07/StackArithmetic
projects/07/MemoryAccess
